<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let hero of heros">
            <p><strong>{{hero.name}}</strong></p>
            <img src="{{hero.img}}" class="img-thumbnail" alt="">
            <button class="btn btn-danger" (click)="remove(hero)">Xoá</button>
        </div>
    </div>
    <div class="row">
        <form action="" (submit)="submitForm($event)">
            <div>
                <label for="">Hero ID</label>
                <input type="number" name="id">
            </div>
            <div>
                <label for="">Hero Name</label>
                <input type="text" name="name" >
            </div>
            <div>
                <label for="">Image</label>
                <input type="text" name="image" >
            </div>
            <div>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>